<div class=" button-bar social-login" style="width:100%;">
<div style="width:50%;float:left;">
            <span class="form-control btn-success button-border button-assertive-900" style="width:100%;"><i class="fa fa-sign-in"></i><span style="padding-left:30px;">SignIn</span></span>
			</div><div style="width:50%;float:left;">
            <a href="#/signUp"><span class="form-control btn-success button-border  button-calm-900" style="width:100%;" ><i class="fa fa-sign-out"></i><span style="padding-left:30px;">SignUp</span></span></a>
            </div>
        </div>